:root {
  --primary-color-purple: 215, 172, 208;
  --primary-color-white: 255, 255, 255;
  --secondary-color-purple: 231, 196, 221;
  --secondary-color-blue: 176, 226, 250;
  --shader-pink: 246, 226, 238;

  --primary-color-purple-hex: #D7ACD0;
  --primary-color-white-hex: #FFFFFF;
  --secondary-color-purple-hex: #E7C4DD;
  --secondary-color-blue-hex: #B0E2FA;
  --shader-pink-hex: #F6E2EE;
}